h1{
    color :blue;
    text-align :right;
}
h2{
    color:brown;
    text-decoration :line-through
}
h3{
    color:aquamarine
}
button{
    background-color: pink;
}
body{
    background-color: blanchedalmond;
}
a{
    text-decoration: none;
}