body{
    text-align: center;
}
div{
    height:100px;
    width:100px;
    display : inline-block;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 2s;
}
#container{
             width : 800px;
             height : 200px;
             display:flex;
             flex-direction: row;
             justify-content: center;
             align-items: center;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color:darkkhaki ;
}
#box4{
       background-color: slateblue;
}
#box5{
       background-color: indianred;
}