body {
    font-family: Arial;
    background: #f4f4f4;
}

.sudoku-game {
    width: 360px;
    margin: 40px auto;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px dashed #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    background: #fff;
}

.cell.fixed {
    background: #eee;
    font-weight: bold;
}

.cell.selected {
    background: #cce5ff;
}

.row:nth-child(3),
.row:nth-child(6) {
    border-bottom: 2px solid #444;
}

.cell:nth-child(3),
.cell:nth-child(6) {
    border-right: 2px solid #444;
}

.number-pad {
    width: 360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.num {
    width: 36px;
    height: 36px;
    background: #333;
    color: white;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
